.container:active {
    margin: 10px auto;
}

.foo-aaa {
    display: flex;
    flex-direction: row;
    justify-self: start;
    margin-top: 100px;
}

.foo2 {
    max-width: 100px;
    overflow: hidden;
}

.foo3 {
  color: yellow;
  margin: 10px;
}

.foo4 {
    display: flex;
    justify-content: space-between;
}
